node_modules

frontend-react-context/node_modules
frontend-react-context/dist

frontend-react/node_modules
frontend-react/dist
frontend-react/.cache

frontend-ng5/node_modules
frontend-ng5/dist

backend/node_modules
backend/node_modules-docker
backend/db

.git*
